.Cards {
    padding: 0 100px 0 100px;
    
    &__List {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 40px;

        &__card {

            background-color: red;

            &__content {
                display: flex;

                &__waktu-pembuatan {
                    display: flex;
                    margin: 10px 10px 10px 0;
                    align-items: flex-end;
                }
                
                &__tingkat-kesulitan {
                    display: flex;
                    margin: 0 10px 10px 10px;
                    align-items: flex-end;
                }
            }

            &:hover {
                transform: translateY(-0.5rem);
                box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
    
            }
        }

        &__card svg { 
            margin-right: 5px;
        }
    }
}
