.EmptyContainer {
  padding-top: 10rem;
  filter: opacity(0.8);

  &__Content {
    display: grid;
    justify-content: center;
    align-items: center;

    &__description {
      margin-top: 50px;
      margin-bottom: 30px;
      font-size: clamp(1rem, 3vw, 1.5rem);
    }
  }

  &__Content img {
    width: 100%;
    height: 300px;
  }
}
.KeranjangContainer {
  padding: 20px;
  background-color: #eeee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.top-tittle {
  margin-top: 100px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-left: 7rem;
  margin-right: 7rem;
}

.CartItem {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 3px 9px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.CartItem__image img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.CartItem__content {
  flex-grow: 1;
}

.CartItem__content h2 {
  margin-bottom: 10px;
}

.CartItem__quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.CartItem__quantity span {
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
}

.QuantityButton {
  padding: 5px 10px;
  background-color: #fff;
  border: 2px solid #9e3438;
  color: #9e3438;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  font-weight: bolder;
}

.QuantityButton:hover {
  color: #fff;
  background-color: #9e3438;
}

.SummaryContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cartList {
  margin-top: 10px;
  margin-bottom: 80px;
  padding: 10px;
  margin-left: 7rem;
  margin-right: 7rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  .rp {
    font-weight: bolder;
    color: #9e3438;
  }

  &__footList {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    background-color: #fff;
    border-top: 2px solid #eeee;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 1px 3px 3px rgba(0.1, 0.1, 0.1, 0.1);
  }

  &__CheckoutButton {
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bolder;
    font-size: medium;
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #9e3438;
    color: #9e3438;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: #9e3438;
    }
  }
}
