.ContainerDetail {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 150px;

  &__card {
    display: grid;
    grid-template-columns: 1fr 40%;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    &__image {
      img {
        width: 80%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      }
    }

    &__content {
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 32px;
        margin-bottom: 20px;
      }

      p {
        font-size: 20px;
        line-height: 1.5;
        text-align: justify;
      }
    }
  }

  &__Content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    &__bahan-makanan,
    &__pembuatan-makanan {
      background-color: white;
      border-radius: 15px;
      padding: 30px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }

    &__bahan-makanan__title,
    &__pembuatan-makanan__title {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: bold;
    }

    &__bahan-makanan__content {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }

    &__bahan-makanan__content p {
      font-size: 20px;
      display: flex;
      align-items: center;
    }

    &__harga p {
      text-align: left;
      font-size: 20px;
      font-weight: bolder;
      color: #9e3438;
      display: flex;
      margin-top: 30px;
    }

    &__btn-cart {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    &__btn-cart button {
      padding: 1rem 2rem;
      background-color: white;
      color: #9e3438;
      outline: none;
      border: 2px solid #9e3438;
      border-radius: 1rem;
      font-size: 1.1rem;
      cursor: pointer;
      font-weight: 600;

      &:hover {
        color: white;
        background-color: #9e3438;
      }
    }
  }

  &__Content ol {
    margin-left: 30px;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
  }

  &__Content li {
    margin-bottom: 20px;
  }
}
