.footer-wrapper {
    display: flex;
    margin-top: 100px;
    align-items: center;
    background-color: rgba(250, 248, 245, 0.911);
    padding: 20px 0 20px 0;

    &__section-one {

        &__logo-container {
            max-width: 110px;
            padding-left: 70px;
          }

        &__logo-container img {
            height: 120px;
        }

        &__icons {
            margin-top: 2.5rem;
        }

        &__icons svg {
            font-size: 1.5rem;
            margin: 1.25rem;
            color: #000000;
        }
    }

    &__section-two {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        text-align: right;
      
        &__columns {
            display: flex;
            flex-direction: column;
            min-width: 190px;
            text-align: left;
        }

        &__columns span {
            margin: 0.30rem 0rem;
            font-weight: 600;
            color: #000000;
          }

        &__columns a {
            color: #000000;
            font-weight: 600;
            margin: 0.30rem 1rem ;
    
        }

    }
  }