.ContainerHero {
  overflow: hidden;

  &__banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__banner img {
    width: 100%;
    object-fit: scale-down;
  }
  
  &__inner {
    position: absolute;
    padding: 10px;
    top: 230px;
    left: 320px;
    color: white;
    text-align: center;
  }
  
  &__inner h1 {
    font-weight: 650;
    font-size: 5rem;
    line-height: 100%;
  }
    
  &__inner p {
    margin-top: 16px;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
}