@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.ContainerSlide {
  width: 100%;
  margin: 100px 0 0 0;
  padding: 70px 30px 70px 30px;
  background-color: #EEEE;
  color: red;

  &__title {
    margin: 0 0 80px 0;
    text-align: center;
  }

  &__Card {
    width: 100%;
    box-shadow: none;
  }

  &__Card img {
    width: 100%;
    height: 150px;
    object-fit: scale-down;
  }

}

.ContainerSlide button {
  color: black;
}

.slick-prev:before {
  color: #9e3438;
  font-size: 25px;
}

.slick-next:before {
  color: #9e3438;
  font-size: 25px;
}

.ContainerSlide__title {
  color: #9e3438;
}