@media  (min-width: 900px) and (max-width: 1200px) {
    
  // ===== Navbar ======
  
  .navbar__btn-daftar {
      font-size: 1rem;
    };

    // ===== Hero Home ======

    .ContainerHero {

      &__banner {
        height: 100vh;
      }

      &__banner img {
        height: 100vh;
        object-fit: cover;
      }
          
      &__inner h1 {
        font-size: 4rem;
      }
    
      &__inner p {
        font-size: 1.1rem;
      }

    }

    // ===== Footer ======

    .footer-wrapper__section-one {
      margin-left: 30px;
    }

    .footer-wrapper__section-two {
      margin-right: 30px;
    }

  }

@media (max-width: 900px) {

  body {
    overflow-x: hidden;
  }

  //  ===== Navbar ======

  .navbar {
    &__logo-container {
      max-width: 160px;
    }

    &__logo-container img {
      height: 70px;
    }

    &__links-container {
      display: none;
    }

    &__menu-container {
      display: flex;
    }

    &__menu-container button {
      color: black;
      min-height: 44px;
      min-width: 44px;
      font-size: 50px;
    }

    &__menu-container svg {
      height: 30px;
      width: 30px;
    }

    &__btn-daftar {
      display: none;
    };

  } 

  .drawer {    
    &__bnt-close {
      text-align: end;
      margin: 10px;
      min-height: 44px;
      min-width: 44px;
    }

    &__bnt-close button {
      margin: 10px 10px 0 0;
    }

    &__bnt-close button{
      color: black;
    }

    &__icon-down {
      margin-left: 60px;
    }

    &__btn-daftar {
      margin-top: 50px;
      margin-left: 10px;
    }

    &__btn-daftar svg {
      margin-right: 10px;
    }

    &__btn-daftar button {
      display: inline-flex;
      align-items: center;
      padding: 0.9rem 1.75rem;
      background-color: #9E3438;
      color: white;
      outline: none;
      border: none;
      border-radius: 1rem;
      font-size: 1.1rem;
      cursor: pointer;
      font-weight: 600;
      transition: 0.2s;
    };

  }

  .drawer a {
    color: black;
    text-decoration: none;
  }

  // ===== HeroHome ======

  .ContainerHero {

    &__banner {
      height: 100vh;
    }

    &__banner img {
      height: 100vh;
      object-fit: cover;
    }

    &__inner h1 {
      font-size: 4rem;
    }
      
    &__inner p {
      font-size: 1.2rem;
    }

  }


  // ===== HeroCategori======

  .HeroCategori{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 150px 50px 50px 50px;

    &__image-section img{
      width: 100%;
      height: 350px;
    }
  }

  //  ===== Footer ======

  .footer-wrapper {
    flex-direction: column;

    &__section-two {
      flex-direction: column;
      margin-top: 2rem;

      &__columns {
        margin: 1rem 0rem;
      }
    }
  }

    //  ===== Cards ======

    .Cards {
      padding: 0 50px 0 50px;
      
      &__List {
          display: grid;
          grid-template-columns: 1fr 1fr;
      }
    }

    //  ===== EmptyCart ======


    .EmptyContainer {
      padding-top: 20rem;
      padding-bottom: 10rem;

      &__Content {
        &__description {
          font-size: clamp(1rem, 5vw, 2rem);
        }
      }

      &__Content img {
        width: 100%;
        height: 200px;
      }
    }

    //  ===== DetailPage ======

  .ContainerDetail {
    padding: 100px 50px 50px 50px;

    &__card {
      grid-template-columns: 1fr;
      text-align: center;
      font-size: 24px;

      &__image img {
        width: 100%;
      }

      &__content h1 {
        margin-top: 50px;
      }

      &__content p {
        text-align: center;
      }

    }

    &__poster img {
      width: 100%;
      height: 300px;
    }

    &__Content {
      display: grid;
      grid-template-columns: 1fr; 
      grid-row-gap: 100px;
      margin-bottom: 30px;

      &__pembuatan-makanan {
        padding: 30px;
      }

      &__bahan-makanan {
        padding: 30px;
      }
    }
  
  }

}


  @media (max-width: 600px) {

    //  ===== Cards ======

    .Cards {
      padding: 0 50px 0 50px;
      
      &__List {
          display: grid;
          grid-template-columns: 1fr;
      }
    }
    
    //  ===== HeroHome ======

    .ContainerHero {

          &__banner {
            height: 50vh;
          }
      
          &__banner img {
            height: 100vh;
            object-fit: cover;
          }
          
          &__inner {
            margin-top: 100px;
          }

          &__inner h1 {
            font-size: 2rem;
          }
            
          &__inner p {
            font-size: 0.9rem;
          }
      
        }
   
    //  ===== HeroHome ======

    .ContainerSlide {
      overflow-x: hidden;
    }

}
  