@media  (min-width: 900px) and (max-width: 1200px) {


    .navbar__btn-daftar {
      font-size: 1rem;
    };

    // ===== Hero ======

    .hero-container {
      &__text-section {
        &__heading {
          font-size: clamp(1rem, 4vw, 3rem);
        }

        &__text {
          font-size: clamp(1rem, 2vw, 1.5rem);
        }
      }
      &__image-section {
        flex: 1;
        max-width: 600px;
        margin-left: 50px;
      }
    }

    // ===== Footer ======

    .footer-wrapper__section-one {
      margin-left: 30px;
    }

    .footer-wrapper__section-two {
      margin-right: 30px;
    }

  }

@media (max-width: 900px) {

  //  ===== Navbar ======

  .navbar {
    &__logo-container {
      max-width: 160px;
    }

    &__logo-container img {
      height: 70px;
    }

    &__links-container {
      display: none;
    }

    &__menu-container {
      display: flex;
    }

    &__menu-container button {
      color: black;
      min-height: 44px;
      min-width: 44px;
      font-size: 50px;
    }

    &__menu-container svg {
      height: 30px;
      width: 30px;
    }

    &__btn-daftar {
      display: none;
    };

  } 

  .drawer {    
    &__bnt-close {
      text-align: end;
      margin: 10px;
      min-height: 44px;
      min-width: 44px;
    }

    &__bnt-close button {
      margin: 10px 10px 0 0;
    }

    &__bnt-close button{
      color: black;
    }

    &__icon-down {
      margin-left: 60px;
    }

    &__btn-daftar {
      margin-top: 50px;
      margin-left: 10px;
    }

    &__btn-daftar button {
      padding: 0.9rem 1.75rem;
      background-color: #FF8787;
      color: white;
      outline: none;
      border: none;
      border-radius: 1rem;
      font-size: 1.1rem;
      cursor: pointer;
      font-weight: 600;
      transition: 0.2s;

      &:hover {
        background-color: rgb(234, 234, 234);
      }
    };

  }

  .drawer a {
    color: black;
    text-decoration: none;
  }

  // ===== Hero ======

  .hero-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 150px 50px 50px 50px;

    &__text-section {
      justify-content: center;
      align-items: center;
      margin-top: 4rem;

      &__heading {
        text-align: center;
        max-width: 90%;
      }

      &__text {
        text-align: center;
        max-width: 80%;
      }
    }

    &__button {
      font-size: 1rem;
      padding: 0.8rem 2rem;
      cursor: pointer;
    }
  }

  //  ===== Footer ======

  .footer-wrapper {
    flex-direction: column;

    &__section-two {
      flex-direction: column;
      margin-top: 2rem;

      &__columns {
        margin: 1rem 0rem;
      }
    }
  }

    //  ===== Cards ======

    .Cards {
      padding: 0 50px 0 50px;
      
      &__List {
          display: grid;
          grid-template-columns: 1fr 1fr;
      }
    }

    //  ===== EmptyCart ======


    .EmptyContainer {
      padding-top: 20rem;
      padding-bottom: 10rem;

      &__Content {
        &__description {
          font-size: clamp(1rem, 5vw, 2rem);
        }
      }

      &__Content img {
        width: 100%;
        height: 200px;
      }
    }

    //  ===== DetailPage ======

  .ContainerDetail {
    padding: 100px 50px 50px 50px;

    &__poster img {
      width: 100%;
      height: 300px;
    }

    &__Content {
      display: grid;
      grid-template-columns: 1fr; 
      grid-row-gap: 100px;
      margin-bottom: 30px;

      &__pembuatan-makanan {
        padding: 30px;
      }

      &__bahan-makanan {
        padding: 30px;
      }
    }
  
  }

}

  
  @media (max-width: 600px) {

    //  ===== Cards ======

    .Cards {
      padding: 0 50px 0 50px;
      
      &__List {
          display: grid;
          grid-template-columns: 1fr;
      }
    }
  }
  