* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@function getAnimationDuration($duration: number) {
    @return calc($duration * 1);
}

.navbar {
    height: 55px;
    box-shadow: 0 3px 6px grey;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        font-size: 1.5em;
        font-weight: bolder;
        text-decoration: none;
        color: brown;
    }
    .nav-links {
        a {
            margin-left: 1em;
            color: black;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            &::before {
                content: '';
                display: inline-block;
                height: 3px;
                width: 100%;
                background-color: cadetblue;
                position: absolute;
                bottom: -5px;
                left: 0;
                transform: scaleX(0);
                transition: transform getAnimationDuration(.2s) ease-in-out;
            }
            &:hover {
                &::before {
                    transform: scaleX(1);
                }
            }
            &.active {
                color: cadetblue;
                font-weight: bold;
            }
        }
    }
    &.sidebar-btn {
        height: 32px;
        width: 35px;
        position: relative;
        display: none;
        .bar {
            border-radius: 5px;
            height: 8px;
            width: 100%;
            background-color: black;
            position: absolute;
            transition: transform getAnimationDuration(.5s);
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 50%;
                transform-origin: right;
                transform: translateY(-50%);
            }
            &:nth-child(3){
                top: 50%;
                transform-origin: right;
                transform: translateY(-100%);
            }
        }
        &.active {
            .bar {
                transform-origin: center;
                top: 50%;
                &:nth-child(1){
                    transform: translate(0, -50%) scale(1) rotate(45deg);
                }
                &:nth-child(2){
                    transform: scale(0) translateY(-50%);
                }
                &:nth-child(3){
                    transform: scale(1) rotate(-45deg);
                }
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background-color: whitesmoke;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2), 3px 0 5px #000000;
}

.container {
    padding-inline: 15vw;
}

@media screen and (max-width: 768px){
    .navbar{
        .nav-links {
            display: none;
        }
        .sidebar-btn {
            display: block;
        }
    }
}